In [2]:
#import required libraries
import numpy as np
import pandas as pd

**Data Exploration**

In [5]:
#import file
raw_data = pd.read_csv('/content/tvs/66bf97f8c00da_epic_fraud_analytics_case_updated (1).csv')
raw_data.head()

,DISBMONTH,LOAN_NUMBER,CD_SEGMENT,PRODUCT_CODE,ETC_NTC,PAYMENT_TYPE,CUST_PINCODE,CUST_STATE,MANUFACTURE_CODE,TENUR,...,TOTAL_NO_ENQ,TOTAL_NO_ENQ_LAST_3M,TOTAL_NO_ENQ_CD,TOTAL_NO_ENQ_CD_LAST_3M,TOTAL_NO_ENQ_SEC,TOTAL_NO_ENQ_SEC_LAST_3M,TOTAL_NO_ENQ_UNSEC,TOTAL_NO_ENQ_UNSEC_LAST_3M,BUREAU_SCORE,TARGET_VARIABLE
0,10-31-2022,1,MOBILE,MOBILE,NTC,ADM,517551.0,AP,OPPO,7.0,...,0,0,0,0,0,0,0,0,-1.0,0
1,11-30-2022,2,MOBILE,MOBILE,ETC,ADM,517002.0,AP,SAMSUNG,6.0,...,4,2,3,2,0,0,4,2,697.0,0
2,10-31-2022,3,MOBILE,MOBILE,ETC,ENCH,517132.0,AP,OPPO,8.0,...,0,0,0,0,0,0,0,0,759.0,0
3,10-31-2022,4,MOBILE,MOBILE,ETC,ADM,517130.0,AP,OPPO,7.0,...,2,1,2,1,0,0,2,1,775.0,0
4,10-31-2022,5,MOBILE,MOBILE,ETC,ADM,515212.0,AP,OPPO,7.0,...,8,2,2,0,2,0,4,0,708.0,0

In [6]:
raw_data.describe(include = 'all')

,DISBMONTH,LOAN_NUMBER,CD_SEGMENT,PRODUCT_CODE,ETC_NTC,PAYMENT_TYPE,CUST_PINCODE,CUST_STATE,MANUFACTURE_CODE,TENUR,...,TOTAL_NO_ENQ,TOTAL_NO_ENQ_LAST_3M,TOTAL_NO_ENQ_CD,TOTAL_NO_ENQ_CD_LAST_3M,TOTAL_NO_ENQ_SEC,TOTAL_NO_ENQ_SEC_LAST_3M,TOTAL_NO_ENQ_UNSEC,TOTAL_NO_ENQ_UNSEC_LAST_3M,BUREAU_SCORE,TARGET_VARIABLE
count,566102,566102.000000,566102,566100,566102,566100,566099.000000,566102,566100,566100.000000,...,566102.000000,566102.000000,566102.000000,566102.000000,566102.000000,566102.000000,566102.000000,566102.000000,498824.000000,566102.000000
unique,15,NaN,2,15,2,4,NaN,23,48,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,11-30-2023,NaN,MOBILE,MOBILE,NTC,ADM,NaN,WB,VIVO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,63497,NaN,312933,312933,302563,270601,NaN,66783,155023,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,283051.500000,NaN,NaN,NaN,NaN,537719.154238,NaN,NaN,9.541895,...,3.609517,1.131545,1.468910,0.570095,0.371831,0.068436,2.887070,0.993346,393.719773,0.031408
std,NaN,163419.715382,NaN,NaN,NaN,NaN,189758.954784,NaN,NaN,2.696810,...,7.733291,2.538173,2.742567,1.199023,1.238902,0.417529,6.571909,2.280961,373.326962,0.174417
min,NaN,1.000000,NaN,NaN,NaN,NaN,110001.000000,NaN,NaN,6.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,0.000000
25%,NaN,141526.250000,NaN,NaN,NaN,NaN,414403.000000,NaN,NaN,8.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,0.000000
50%,NaN,283051.500000,NaN,NaN,NaN,NaN,560045.000000,NaN,NaN,10.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,710.000000,0.000000
75%,NaN,424576.750000,NaN,NaN,NaN,NaN,700061.000000,NaN,NaN,12.000000,...,4.000000,1.000000,2.000000,1.000000,0.000000,0.000000,3.000000,1.000000,747.000000,0.000000
max,NaN,566102.000000,NaN,NaN,NaN,NaN,855117.000000,NaN,NaN,36.000000,...,280.000000,96.000000,86.000000,43.000000,63.000000,23.000000,229.000000,87.000000,844.000000,1.000000

**Data Cleaning**

In [8]:
raw_data.isnull().sum()

DISBMONTH                             0
LOAN_NUMBER                           0
CD_SEGMENT                            0
PRODUCT_CODE                          2
ETC_NTC                               0
PAYMENT_TYPE                          2
CUST_PINCODE                          3
CUST_STATE                            0
MANUFACTURE_CODE                      2
TENUR                                 2
ADVANCE_EMI_COUNT                     2
EMI                                   2
LTV                                   2
ASSET_COST                            2
ACTUAL_LOAN_AMOUNT                   13
DOWN_PAYMENT                          2
PAYNIMO_STATUS                    79978
QUALIFICATION                      2983
GENDER                                2
MARITALSTATUS                         2
CUST_AGE                              9
EMP_GRP                               0
MATCH_SCORE                      342479
TOTAL_NO_LV_TRADELINES                0
BUREAU_VINTAGE_IN_MONTHS              0
NO_TRADELINES_OPENED_LAST_3M          0
TOTAL_NO_LV_CD                        0
TIME_SINCE_FIRST_CD_MONTHS            0
NO_CD_OPENED_LAST_3M                  0
TOTAL_NO_LV_CC                        0
NO_CC_OPENED_LAST_3M                  0
TOTAL_NO_LV_PLBL                      0
TOTAL_NO_LV_AL                        0
TOTAL_NO_LV_TW                        0
TOTAL_NO_LV_TL                        0
TOTAL_NO_LV_SEC                       0
TOTAL_NO_SEC_OPENED_LAST_3M           0
TOTAL_NO_LV_UNSEC                     0
TOTAL_NO_UNSEC_OPENED_LAST_3M         0
TOTAL_NO_ENQ                          0
TOTAL_NO_ENQ_LAST_3M                  0
TOTAL_NO_ENQ_CD                       0
TOTAL_NO_ENQ_CD_LAST_3M               0
TOTAL_NO_ENQ_SEC                      0
TOTAL_NO_ENQ_SEC_LAST_3M              0
TOTAL_NO_ENQ_UNSEC                    0
TOTAL_NO_ENQ_UNSEC_LAST_3M            0
BUREAU_SCORE                      67278
TARGET_VARIABLE                       0
dtype: int64

In [9]:
data = raw_data.drop(['BUREAU_SCORE','MATCH_SCORE','PAYNIMO_STATUS','DISBMONTH','LOAN_NUMBER','CUST_PINCODE'],axis = 1)
#drpoping BUREAU_SCORE,MATCH_SCORE,PAYNIMO_STATUS bacause it has missing values more than 5%
#dropping DISBMONTH and LOAN_NUMBER because creating dummy for this does not make the sense
#dropping CUST_PINCODE because we already creating dummy for state to take geography as input, taking each pincode will create lots of dummy wil cause loosing of model efficiency
data.head()

,CD_SEGMENT,PRODUCT_CODE,ETC_NTC,PAYMENT_TYPE,CUST_STATE,MANUFACTURE_CODE,TENUR,ADVANCE_EMI_COUNT,EMI,LTV,...,TOTAL_NO_UNSEC_OPENED_LAST_3M,TOTAL_NO_ENQ,TOTAL_NO_ENQ_LAST_3M,TOTAL_NO_ENQ_CD,TOTAL_NO_ENQ_CD_LAST_3M,TOTAL_NO_ENQ_SEC,TOTAL_NO_ENQ_SEC_LAST_3M,TOTAL_NO_ENQ_UNSEC,TOTAL_NO_ENQ_UNSEC_LAST_3M,TARGET_VARIABLE
0,MOBILE,MOBILE,NTC,ADM,AP,OPPO,7.0,1.0,2490.0,83.00,...,0,0,0,0,0,0,0,0,0,0
1,MOBILE,MOBILE,ETC,ADM,AP,SAMSUNG,6.0,0.0,4350.0,100.00,...,1,4,2,3,2,0,0,4,2,0
2,MOBILE,MOBILE,ETC,ENCH,AP,OPPO,8.0,2.0,3825.0,74.50,...,0,0,0,0,0,0,0,0,0,0
3,MOBILE,MOBILE,ETC,ADM,AP,OPPO,7.0,1.0,1942.0,85.05,...,1,2,1,2,1,0,0,2,1,0
4,MOBILE,MOBILE,ETC,ADM,AP,OPPO,7.0,1.0,3372.0,85.34,...,0,8,2,2,0,2,0,4,0,0

In [10]:
data.isnull().sum()

CD_SEGMENT                          0
PRODUCT_CODE                        2
ETC_NTC                             0
PAYMENT_TYPE                        2
CUST_STATE                          0
MANUFACTURE_CODE                    2
TENUR                               2
ADVANCE_EMI_COUNT                   2
EMI                                 2
LTV                                 2
ASSET_COST                          2
ACTUAL_LOAN_AMOUNT                 13
DOWN_PAYMENT                        2
QUALIFICATION                    2983
GENDER                              2
MARITALSTATUS                       2
CUST_AGE                            9
EMP_GRP                             0
TOTAL_NO_LV_TRADELINES              0
BUREAU_VINTAGE_IN_MONTHS            0
NO_TRADELINES_OPENED_LAST_3M        0
TOTAL_NO_LV_CD                      0
TIME_SINCE_FIRST_CD_MONTHS          0
NO_CD_OPENED_LAST_3M                0
TOTAL_NO_LV_CC                      0
NO_CC_OPENED_LAST_3M                0
TOTAL_NO_LV_PLBL                    0
TOTAL_NO_LV_AL                      0
TOTAL_NO_LV_TW                      0
TOTAL_NO_LV_TL                      0
TOTAL_NO_LV_SEC                     0
TOTAL_NO_SEC_OPENED_LAST_3M         0
TOTAL_NO_LV_UNSEC                   0
TOTAL_NO_UNSEC_OPENED_LAST_3M       0
TOTAL_NO_ENQ                        0
TOTAL_NO_ENQ_LAST_3M                0
TOTAL_NO_ENQ_CD                     0
TOTAL_NO_ENQ_CD_LAST_3M             0
TOTAL_NO_ENQ_SEC                    0
TOTAL_NO_ENQ_SEC_LAST_3M            0
TOTAL_NO_ENQ_UNSEC                  0
TOTAL_NO_ENQ_UNSEC_LAST_3M          0
TARGET_VARIABLE                     0
dtype: int64

In [11]:
data_cleaned = data.dropna()
#now we are safe to remove empty rows because we are removing less than 5% of data
data_cleaned.head()

,CD_SEGMENT,PRODUCT_CODE,ETC_NTC,PAYMENT_TYPE,CUST_STATE,MANUFACTURE_CODE,TENUR,ADVANCE_EMI_COUNT,EMI,LTV,...,TOTAL_NO_UNSEC_OPENED_LAST_3M,TOTAL_NO_ENQ,TOTAL_NO_ENQ_LAST_3M,TOTAL_NO_ENQ_CD,TOTAL_NO_ENQ_CD_LAST_3M,TOTAL_NO_ENQ_SEC,TOTAL_NO_ENQ_SEC_LAST_3M,TOTAL_NO_ENQ_UNSEC,TOTAL_NO_ENQ_UNSEC_LAST_3M,TARGET_VARIABLE
0,MOBILE,MOBILE,NTC,ADM,AP,OPPO,7.0,1.0,2490.0,83.00,...,0,0,0,0,0,0,0,0,0,0
1,MOBILE,MOBILE,ETC,ADM,AP,SAMSUNG,6.0,0.0,4350.0,100.00,...,1,4,2,3,2,0,0,4,2,0
2,MOBILE,MOBILE,ETC,ENCH,AP,OPPO,8.0,2.0,3825.0,74.50,...,0,0,0,0,0,0,0,0,0,0
3,MOBILE,MOBILE,ETC,ADM,AP,OPPO,7.0,1.0,1942.0,85.05,...,1,2,1,2,1,0,0,2,1,0
4,MOBILE,MOBILE,ETC,ADM,AP,OPPO,7.0,1.0,3372.0,85.34,...,0,8,2,2,0,2,0,4,0,0

In [12]:
data_cleaned.isnull().sum()
#now we have no missing values

CD_SEGMENT                       0
PRODUCT_CODE                     0
ETC_NTC                          0
PAYMENT_TYPE                     0
CUST_STATE                       0
MANUFACTURE_CODE                 0
TENUR                            0
ADVANCE_EMI_COUNT                0
EMI                              0
LTV                              0
ASSET_COST                       0
ACTUAL_LOAN_AMOUNT               0
DOWN_PAYMENT                     0
QUALIFICATION                    0
GENDER                           0
MARITALSTATUS                    0
CUST_AGE                         0
EMP_GRP                          0
TOTAL_NO_LV_TRADELINES           0
BUREAU_VINTAGE_IN_MONTHS         0
NO_TRADELINES_OPENED_LAST_3M     0
TOTAL_NO_LV_CD                   0
TIME_SINCE_FIRST_CD_MONTHS       0
NO_CD_OPENED_LAST_3M             0
TOTAL_NO_LV_CC                   0
NO_CC_OPENED_LAST_3M             0
TOTAL_NO_LV_PLBL                 0
TOTAL_NO_LV_AL                   0
TOTAL_NO_LV_TW                   0
TOTAL_NO_LV_TL                   0
TOTAL_NO_LV_SEC                  0
TOTAL_NO_SEC_OPENED_LAST_3M      0
TOTAL_NO_LV_UNSEC                0
TOTAL_NO_UNSEC_OPENED_LAST_3M    0
TOTAL_NO_ENQ                     0
TOTAL_NO_ENQ_LAST_3M             0
TOTAL_NO_ENQ_CD                  0
TOTAL_NO_ENQ_CD_LAST_3M          0
TOTAL_NO_ENQ_SEC                 0
TOTAL_NO_ENQ_SEC_LAST_3M         0
TOTAL_NO_ENQ_UNSEC               0
TOTAL_NO_ENQ_UNSEC_LAST_3M       0
TARGET_VARIABLE                  0
dtype: int64

In [13]:
#Let's check descritive of cleaned data
data_cleaned.describe()

,TENUR,ADVANCE_EMI_COUNT,EMI,LTV,ASSET_COST,ACTUAL_LOAN_AMOUNT,DOWN_PAYMENT,CUST_AGE,TOTAL_NO_LV_TRADELINES,BUREAU_VINTAGE_IN_MONTHS,...,TOTAL_NO_UNSEC_OPENED_LAST_3M,TOTAL_NO_ENQ,TOTAL_NO_ENQ_LAST_3M,TOTAL_NO_ENQ_CD,TOTAL_NO_ENQ_CD_LAST_3M,TOTAL_NO_ENQ_SEC,TOTAL_NO_ENQ_SEC_LAST_3M,TOTAL_NO_ENQ_UNSEC,TOTAL_NO_ENQ_UNSEC_LAST_3M,TARGET_VARIABLE
count,563109.000000,563109.000000,563109.000000,563109.000000,563109.000000,563109.000000,563109.000000,563109.000000,563109.000000,563109.000000,...,563109.000000,563109.000000,563109.000000,563109.000000,563109.000000,563109.000000,563109.000000,563109.000000,563109.000000,563109.000000
mean,9.539762,1.782465,2452.248941,77.724847,23210.972556,18843.056394,5949.609497,32.686501,1.020685,19.421103,...,0.222650,3.615350,1.134379,1.471768,0.572070,0.372914,0.068580,2.891376,0.995926,0.031482
std,2.696171,1.479492,964.371129,11.008451,11105.207016,8952.263776,4250.234515,8.792289,2.213599,35.321859,...,0.989301,7.723836,2.538689,2.740039,1.200282,1.240557,0.417943,6.563987,2.281700,0.174618
min,6.000000,0.000000,565.000000,17.880000,7290.000000,4273.000000,236.000000,20.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8.000000,1.000000,1770.000000,71.410000,14999.000000,12487.000000,3537.000000,25.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,10.000000,2.000000,2200.000000,75.000000,19500.000000,16199.000000,5003.000000,31.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
75%,12.000000,3.000000,2909.000000,85.050000,28000.000000,22639.000000,7385.000000,38.000000,1.000000,24.000000,...,0.000000,4.000000,1.000000,2.000000,1.000000,0.000000,0.000000,3.000000,1.000000,0.000000
max,36.000000,8.000000,18538.000000,100.000000,240000.000000,200699.000000,115295.000000,64.000000,93.000000,646.000000,...,95.000000,280.000000,96.000000,86.000000,43.000000,63.000000,23.000000,229.000000,87.000000,1.000000

In [14]:
data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 563109 entries, 0 to 566101
Data columns (total 43 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CD_SEGMENT                     563109 non-null  object
 1   PRODUCT_CODE                   563109 non-null  object
 2   ETC_NTC                        563109 non-null  object
 3   PAYMENT_TYPE                   563109 non-null  object
 4   CUST_STATE                     563109 non-null  object
 5   MANUFACTURE_CODE               563109 non-null  object
 6   TENUR                          563109 non-null  float64
 7   ADVANCE_EMI_COUNT              563109 non-null  float64
 8   EMI                            563109 non-null  float64
 9   LTV                            563109 non-null  float64
 10  ASSET_COST                     563109 non-null  float64
 11  ACTUAL_LOAN_AMOUNT             563109 non-null  float64
 12  DOWN_PAYMENT                   563109 non-null  float64
 13  QUALIFICATION                  563109 non-null  object
 14  GENDER                         563109 non-null  object
 15  MARITALSTATUS                  563109 non-null  object
 16  CUST_AGE                       563109 non-null  float64
 17  EMP_GRP                        563109 non-null  object
 18  TOTAL_NO_LV_TRADELINES         563109 non-null  int64
 19  BUREAU_VINTAGE_IN_MONTHS       563109 non-null  int64
 20  NO_TRADELINES_OPENED_LAST_3M   563109 non-null  int64
 21  TOTAL_NO_LV_CD                 563109 non-null  int64
 22  TIME_SINCE_FIRST_CD_MONTHS     563109 non-null  int64
 23  NO_CD_OPENED_LAST_3M           563109 non-null  int64
 24  TOTAL_NO_LV_CC                 563109 non-null  int64
 25  NO_CC_OPENED_LAST_3M           563109 non-null  int64
 26  TOTAL_NO_LV_PLBL               563109 non-null  int64
 27  TOTAL_NO_LV_AL                 563109 non-null  int64
 28  TOTAL_NO_LV_TW                 563109 non-null  int64
 29  TOTAL_NO_LV_TL                 563109 non-null  int64
 30  TOTAL_NO_LV_SEC                563109 non-null  int64
 31  TOTAL_NO_SEC_OPENED_LAST_3M    563109 non-null  int64
 32  TOTAL_NO_LV_UNSEC              563109 non-null  int64
 33  TOTAL_NO_UNSEC_OPENED_LAST_3M  563109 non-null  int64
 34  TOTAL_NO_ENQ                   563109 non-null  int64
 35  TOTAL_NO_ENQ_LAST_3M           563109 non-null  int64
 36  TOTAL_NO_ENQ_CD                563109 non-null  int64
 37  TOTAL_NO_ENQ_CD_LAST_3M        563109 non-null  int64
 38  TOTAL_NO_ENQ_SEC               563109 non-null  int64
 39  TOTAL_NO_ENQ_SEC_LAST_3M       563109 non-null  int64
 40  TOTAL_NO_ENQ_UNSEC             563109 non-null  int64
 41  TOTAL_NO_ENQ_UNSEC_LAST_3M     563109 non-null  int64
 42  TARGET_VARIABLE                563109 non-null  int64
dtypes: float64(8), int64(25), object(10)
memory usage: 189.0+ MB

it seems like we are good to go further

**Dealing with non numerical data**
by creating dummies and mapping

In [15]:
data_cleaned['CD_SEGMENT'] = data_cleaned['CD_SEGMENT'].map({'MOBILE':1,'Non-Mobile':0})
data_cleaned['ETC_NTC'] = data_cleaned['ETC_NTC'].map({'ETC':1,'NTC':0})
data_cleaned['GENDER'] = data_cleaned['GENDER'].map({'M':1,'F':0})
data_cleaned['MARITALSTATUS'] = data_cleaned['MARITALSTATUS'].map({'Married':1,'Single':0,'N':0})
data_cleaned.head()

<ipython-input-15-e0be4b9a32f3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned['CD_SEGMENT'] = data_cleaned['CD_SEGMENT'].map({'MOBILE':1,'Non-Mobile':0})
<ipython-input-15-e0be4b9a32f3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned['ETC_NTC'] = data_cleaned['ETC_NTC'].map({'ETC':1,'NTC':0})
<ipython-input-15-e0be4b9a32f3>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned['GENDER'] = data_cleaned['GENDER'].map({'M':1,'F':0})
<ipython-input-15-e0be4b9a32f3>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned['MARITALSTATUS'] = data_cleaned['MARITALSTATUS'].map({'Married':1,'Single':0,'N':0})

,CD_SEGMENT,PRODUCT_CODE,ETC_NTC,PAYMENT_TYPE,CUST_STATE,MANUFACTURE_CODE,TENUR,ADVANCE_EMI_COUNT,EMI,LTV,...,TOTAL_NO_UNSEC_OPENED_LAST_3M,TOTAL_NO_ENQ,TOTAL_NO_ENQ_LAST_3M,TOTAL_NO_ENQ_CD,TOTAL_NO_ENQ_CD_LAST_3M,TOTAL_NO_ENQ_SEC,TOTAL_NO_ENQ_SEC_LAST_3M,TOTAL_NO_ENQ_UNSEC,TOTAL_NO_ENQ_UNSEC_LAST_3M,TARGET_VARIABLE
0,1,MOBILE,0,ADM,AP,OPPO,7.0,1.0,2490.0,83.00,...,0,0,0,0,0,0,0,0,0,0
1,1,MOBILE,1,ADM,AP,SAMSUNG,6.0,0.0,4350.0,100.00,...,1,4,2,3,2,0,0,4,2,0
2,1,MOBILE,1,ENCH,AP,OPPO,8.0,2.0,3825.0,74.50,...,0,0,0,0,0,0,0,0,0,0
3,1,MOBILE,1,ADM,AP,OPPO,7.0,1.0,1942.0,85.05,...,1,2,1,2,1,0,0,2,1,0
4,1,MOBILE,1,ADM,AP,OPPO,7.0,1.0,3372.0,85.34,...,0,8,2,2,0,2,0,4,0,0

In [16]:
data_with_dummies = pd.get_dummies(data_cleaned,drop_first = True, dtype=int)
data_with_dummies.head()

,CD_SEGMENT,ETC_NTC,TENUR,ADVANCE_EMI_COUNT,EMI,LTV,ASSET_COST,ACTUAL_LOAN_AMOUNT,DOWN_PAYMENT,GENDER,...,QUALIFICATION_PROFESSIONAL,QUALIFICATION_SSC,QUALIFICATION_SSLC,QUALIFICATION_UG,QUALIFICATION_UNDER GRADUATE,EMP_GRP_2.SEMP,EMP_GRP_3.AGR,EMP_GRP_5.HOW,EMP_GRP_6.OTH,EMP_GRP_7.MISSING
0,1,0,7.0,1.0,2490.0,83.00,17999.0,14939.0,3885.0,0,...,0,1,0,0,0,1,0,0,0,0
1,1,1,6.0,0.0,4350.0,100.00,25500.0,26100.0,635.0,0,...,0,1,0,0,0,1,0,0,0,0
2,1,1,8.0,2.0,3825.0,74.50,29999.0,22949.0,9023.0,0,...,0,0,0,0,0,1,0,0,0,0
3,1,1,7.0,1.0,1942.0,85.05,12990.0,11648.0,3315.0,1,...,0,0,0,0,0,1,0,0,0,0
4,1,1,7.0,1.0,3372.0,85.34,22999.0,20227.0,4079.0,1,...,0,0,0,0,0,0,0,0,0,0

In [17]:
data_with_dummies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 563109 entries, 0 to 566101
Columns: 149 entries, CD_SEGMENT to EMP_GRP_7.MISSING
dtypes: float64(8), int64(141)
memory usage: 644.4 MB

**Variable**

In [27]:
data_with_dummies.columns.values

array(['CD_SEGMENT', 'ETC_NTC', 'TENUR', 'ADVANCE_EMI_COUNT', 'EMI',
       'LTV', 'ASSET_COST', 'ACTUAL_LOAN_AMOUNT', 'DOWN_PAYMENT',
       'GENDER', 'MARITALSTATUS', 'CUST_AGE', 'TOTAL_NO_LV_TRADELINES',
       'BUREAU_VINTAGE_IN_MONTHS', 'NO_TRADELINES_OPENED_LAST_3M',
       'TOTAL_NO_LV_CD', 'TIME_SINCE_FIRST_CD_MONTHS',
       'NO_CD_OPENED_LAST_3M', 'TOTAL_NO_LV_CC', 'NO_CC_OPENED_LAST_3M',
       'TOTAL_NO_LV_PLBL', 'TOTAL_NO_LV_AL', 'TOTAL_NO_LV_TW',
       'TOTAL_NO_LV_TL', 'TOTAL_NO_LV_SEC', 'TOTAL_NO_SEC_OPENED_LAST_3M',
       'TOTAL_NO_LV_UNSEC', 'TOTAL_NO_UNSEC_OPENED_LAST_3M',
       'TOTAL_NO_ENQ', 'TOTAL_NO_ENQ_LAST_3M', 'TOTAL_NO_ENQ_CD',
       'TOTAL_NO_ENQ_CD_LAST_3M', 'TOTAL_NO_ENQ_SEC',
       'TOTAL_NO_ENQ_SEC_LAST_3M', 'TOTAL_NO_ENQ_UNSEC',
       'TOTAL_NO_ENQ_UNSEC_LAST_3M', 'TARGET_VARIABLE',
       'PRODUCT_CODE_AIR', 'PRODUCT_CODE_COOLER', 'PRODUCT_CODE_DSW',
       'PRODUCT_CODE_FRIDGE', 'PRODUCT_CODE_HOBB', 'PRODUCT_CODE_HT',
       'PRODUCT_CODE_LAP', 'PRODUCT_CODE_MOBILE', 'PRODUCT_CODE_MWO',
       'PRODUCT_CODE_TAB', 'PRODUCT_CODE_TABLET', 'PRODUCT_CODE_TV',
       'PRODUCT_CODE_WAM', 'PRODUCT_CODE_WPR', 'PAYMENT_TYPE_ADM',
       'PAYMENT_TYPE_ENCH', 'PAYMENT_TYPE_UPI', 'CUST_STATE_AS',
       'CUST_STATE_BH', 'CUST_STATE_CH', 'CUST_STATE_CT', 'CUST_STATE_DL',
       'CUST_STATE_GA', 'CUST_STATE_GJ', 'CUST_STATE_HR', 'CUST_STATE_JH',
       'CUST_STATE_KA', 'CUST_STATE_KL', 'CUST_STATE_MH', 'CUST_STATE_MP',
       'CUST_STATE_OR', 'CUST_STATE_PB', 'CUST_STATE_PY', 'CUST_STATE_RJ',
       'CUST_STATE_TN', 'CUST_STATE_TS', 'CUST_STATE_UK', 'CUST_STATE_UP',
       'CUST_STATE_WB', 'MANUFACTURE_CODE_AMSTRAD',
       'MANUFACTURE_CODE_APPLE', 'MANUFACTURE_CODE_BLUESTAR',
       'MANUFACTURE_CODE_BOSCH', 'MANUFACTURE_CODE_CDOEM',
       'MANUFACTURE_CODE_CLARION', 'MANUFACTURE_CODE_CROMA',
       'MANUFACTURE_CODE_DAIKIN', 'MANUFACTURE_CODE_FUJITSUGEN',
       'MANUFACTURE_CODE_GODREJ', 'MANUFACTURE_CODE_HAIER',
       'MANUFACTURE_CODE_HITACHI', 'MANUFACTURE_CODE_HP',
       'MANUFACTURE_CODE_HYUNDAIELE', 'MANUFACTURE_CODE_IAIR',
       'MANUFACTURE_CODE_IFB', 'MANUFACTURE_CODE_IMPEX',
       'MANUFACTURE_CODE_INTEX', 'MANUFACTURE_CODE_IVEE',
       'MANUFACTURE_CODE_KELVINATOR', 'MANUFACTURE_CODE_LG',
       'MANUFACTURE_CODE_LLOYD', 'MANUFACTURE_CODE_NOKIA',
       'MANUFACTURE_CODE_ONIDA', 'MANUFACTURE_CODE_OPPO',
       'MANUFACTURE_CODE_OSCAR', 'MANUFACTURE_CODE_OSSYWUD',
       'MANUFACTURE_CODE_PANASONIC', 'MANUFACTURE_CODE_PANORAMA',
       'MANUFACTURE_CODE_PHILIPS', 'MANUFACTURE_CODE_REALME',
       'MANUFACTURE_CODE_SAMSUNG', 'MANUFACTURE_CODE_SANSUI',
       'MANUFACTURE_CODE_SIEMENS', 'MANUFACTURE_CODE_SKYWORTH',
       'MANUFACTURE_CODE_SONY', 'MANUFACTURE_CODE_SYMPHONY',
       'MANUFACTURE_CODE_TCL', 'MANUFACTURE_CODE_TECNO',
       'MANUFACTURE_CODE_VIVO', 'MANUFACTURE_CODE_VOLTAS',
       'MANUFACTURE_CODE_VOLTBEK', 'MANUFACTURE_CODE_VYOM',
       'MANUFACTURE_CODE_WHIRL  POOL', 'MANUFACTURE_CODE_WILLETT',
       'MANUFACTURE_CODE_XIAOMI', 'MANUFACTURE_CODE_YARA',
       'QUALIFICATION_ BETCH', 'QUALIFICATION_ BSC',
       'QUALIFICATION_ Doctorate', 'QUALIFICATION_ GRADUATE',
       'QUALIFICATION_ HSC', 'QUALIFICATION_ OTHERS',
       'QUALIFICATION_12TH', 'QUALIFICATION_BCA', 'QUALIFICATION_Degree',
       'QUALIFICATION_Diploma', 'QUALIFICATION_GRAD',
       'QUALIFICATION_GRADUATE', 'QUALIFICATION_HSC',
       'QUALIFICATION_OTHERS', 'QUALIFICATION_PG',
       'QUALIFICATION_POST-GRADUATE', 'QUALIFICATION_PROFESSIONAL',
       'QUALIFICATION_SSC', 'QUALIFICATION_SSLC', 'QUALIFICATION_UG',
       'QUALIFICATION_UNDER GRADUATE', 'EMP_GRP_2.SEMP', 'EMP_GRP_3.AGR',
       'EMP_GRP_5.HOW', 'EMP_GRP_6.OTH', 'EMP_GRP_7.MISSING'],
      dtype=object)

In [19]:
x1 = data_with_dummies.drop(columns = 'TARGET_VARIABLE', axis = 1)
y = data_with_dummies['TARGET_VARIABLE']

**Regression**

In [20]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [21]:
model = LogisticRegression()

In [22]:
# training the Logistic Regression Model
model.fit(x1, y)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [28]:
coefficients = model.coef_[0]  # Coefficients for the features
coefficients

array([-2.24276116e-04,  7.88895355e-06, -9.10989225e-03, -3.00293859e-03,
        5.31736644e-04, -4.98819596e-02, -9.46423567e-05,  1.06250468e-04,
        5.02632554e-06, -4.68357652e-04, -3.82112087e-04, -2.00514424e-02,
        4.65337915e-04, -9.90063523e-03,  8.84843112e-04,  1.33814792e-03,
       -3.04982978e-03,  7.02188869e-04, -1.73629812e-04, -1.73191596e-05,
       -2.27758983e-04, -2.99723494e-05,  4.33573189e-05, -1.23554013e-05,
       -3.76531311e-04, -1.90596276e-05,  1.00152577e-03,  9.18241681e-04,
        9.98615296e-03,  7.87340384e-03,  6.53782369e-03,  4.49236519e-03,
        7.18020416e-04,  6.68541982e-04,  8.85009801e-03,  6.83408477e-03,
       -1.57606976e-06, -2.45008672e-06,  1.29995772e-07, -7.78610929e-04,
       -3.27169050e-08, -1.07908618e-06,  6.17237972e-07, -2.24276116e-04,
       -4.84196065e-06, -2.20143725e-06, -1.29965077e-06,  8.02467232e-05,
       -1.15796256e-04, -2.95711639e-06, -2.60793411e-04, -7.63979118e-04,
       -6.24162437e-07, -3.10431642e-05, -1.95842157e-04, -1.45111953e-07,
       -5.38055838e-05,  2.39042112e-05, -2.08818918e-05,  3.13114788e-04,
        4.53646757e-05, -1.39410065e-04,  3.46683388e-05, -3.03805757e-05,
        2.05874073e-05,  3.05723264e-04, -1.08613700e-04,  4.01098180e-06,
       -2.34401720e-04,  2.53540775e-04, -3.52499241e-04, -9.27710591e-05,
        1.32159132e-05,  1.24672143e-04, -7.43139393e-04, -5.60202442e-06,
        5.17075270e-06,  2.63417169e-06, -4.89171086e-06,  2.45619869e-05,
        5.43806808e-07,  4.84937682e-07,  1.03052948e-04,  1.01599196e-06,
       -1.06371975e-04, -1.34271254e-04, -1.15228623e-06,  6.29211422e-07,
        7.54738208e-05, -1.36123520e-06,  3.31445430e-06, -4.86017368e-07,
       -1.05646144e-05, -2.17940855e-07, -1.92765709e-08, -1.37846567e-04,
        5.74246135e-05,  1.24185432e-06, -7.38359826e-06,  9.62319318e-05,
       -7.31219619e-08,  1.54186756e-06, -1.30851536e-05, -8.33195973e-07,
       -1.31968304e-08,  1.42409339e-05, -3.06986227e-04,  6.41063019e-05,
       -1.12038366e-06,  7.96292210e-07,  2.03125798e-05, -2.98481502e-08,
       -1.68034865e-07,  3.99572547e-06, -3.58931077e-04, -7.10589030e-06,
       -4.93083602e-06,  1.09169165e-06, -1.80702603e-04,  4.52203889e-07,
        4.05945098e-05, -5.59134053e-06, -5.37023892e-08, -1.86524063e-08,
       -3.70722409e-08, -1.44131124e-07, -7.62508516e-08, -1.92411848e-08,
       -4.75585016e-05, -2.19836322e-08, -1.39848339e-08, -2.13191404e-08,
       -5.21571076e-06, -4.19175394e-04, -5.58525828e-06, -1.53834718e-04,
       -8.27149459e-07, -6.46474098e-05, -1.12731273e-05, -9.40967674e-05,
       -1.38901703e-08,  3.42720677e-07,  2.58806721e-05, -5.76558875e-04,
       -6.15728565e-07, -4.75059429e-08, -5.05433149e-08, -2.35183652e-04])

In [ ]:
intercept = model.intercept_[0]  # Intercept term
intercept

-0.0007764489232032763

In [ ]:
# accuracy
x1 = model.predict(x1)
data_accuracy = accuracy_score(x1, y)
print('Accuracy on data : ', data_accuracy)

Accuracy on data :  0.9682938827118729

In [ ]:
import statsmodels.api as sm
x = sm.add_constant(x1)
reg_log = sm.Logit(y,x1)
results_log = reg_log.fit()
results_log.summary()

Optimization terminated successfully.
         Current function value: 0.693041
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:        TARGET_VARIABLE   No. Observations:               563109
Model:                          Logit   Df Residuals:                   563108
Method:                           MLE   Df Model:                            0
Date:                Sun, 25 Aug 2024   Pseudo R-squ.:                  -3.955
Time:                        21:40:29   Log-Likelihood:            -3.9026e+05
converged:                       True   LL-Null:                       -78755.
Covariance Type:            nonrobust   LLR p-value:                       nan
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
x1            -2.3026      0.280     -8.215      0.000      -2.852      -1.753
==============================================================================
"""